# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
checkpoints/
logs/
data/raw/
data/processed/
*.pt
*.json
*.png
*.txt
*.sh
*.zip
*.pdf
*.m
*.html
*.jpg
*.jpeg
*.bak

# Artifacts/Misc
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
